<app-header></app-header>

<section>
  <div class="container_home">
    <div class="home_header">
      <div class="home_header-banner">
        <img
          src="https://cdn.pixabay.com/photo/2013/04/11/19/46/building-102840_960_720.jpg"
          alt="" class="banner">
      </div>
      <div class="home_header-title">
        <h3 class="title-main">POPULAR WORLD SCENE</h3>
        <h5 class="title-2">PERFECT WORLD TRAVEL AGENCY</h5>
        <div class="btn-booking">
          <button>Booking Now!</button>
        </div>

      </div>
      <div class="home_header-search">
        <div class="home_header-search-title">
          <h3>SEARCH NOW</h3>
        </div>
        <div class="home_header-search-list">
          <div class="home_header-search-item d-flex align-items-center">
            <i class="icon-loca fa-solid fa-location-dot"></i>
            <span>Location</span>
            <select name="" id="" class="w-100">
              <option *ngFor="let item of cities" value="{{ item.matp }}">{{ item.name }}
              </option>
            </select>
          </div>

          <div class="home_header-search-item d-flex align-items-center">
            <i class="fa-solid fa-plane icon-loca"></i>
            <span>Type Travel</span>
            <select name="" id="" class="w-100">
              <option *ngFor="let item of travels" value="{{ item.id }}">{{ item.name }}
              </option>
            </select>
          </div>

          <div class="home_header-search-item d-flex align-items-center">
            <i class="icon-trans fa-solid fa-car-side"></i>
            <Span>Transition</Span>
            <select name="" id="" class="w-100">
              <option *ngFor="let item of vehicles" value="{{ item.id }}" value="">
                {{ item.name }}</option>
            </select>
          </div>

          <div class="home_header-search-item d-flex align-items-center">
            <i class="fa-regular fa-calendar-days icon-loca"></i>
            <span>Date</span>
            <input class="shadow-none border-0 w-100" type="date">
          </div>


          <div class="home_header-search-item d-flex align-items-center">
            <i class="icon-price fa-solid fa-dollar-sign"></i>
            <span>Price</span>
            <select name="" id="" class="w-100">
              <option value="499999">Dưới 500.000VNĐ</option>
              <option value="500000">Từ 500.000 - 1.500.000VNĐ</option>
              <option value="1500000">Từ 1.500.000 - 2.500.000VNĐ</option>
              <option value="2500000">Trên 2.500.000VNĐ</option>
            </select>
          </div>

          <div class="home_header-search-btn">
            <button class="btn_search">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="spaceline">

    </div>
    <div class="home_tour">
      <div class="home_tour-title">
        <h3>FAMOUS TOUR</h3>
      </div>
      <div class="home_tour-details">
        <div class="home_tour-details-img">
          <img
            src="https://dulichfun.com/wp-content/uploads/2019/01/Kinh-nghiem-phuot-Ky-Co-Quy-Nhon-tu-tuc.jpg"
            alt="" class="img-tour">
        </div>
        <div class="home_tour-details-desc">
          <div class="home_tour-details-desc-title">
            <h3>Kỳ Co</h3>
          </div>
          <span class="desc">
            Để tới bãi Kỳ Co, đi cano là thuận tiện nhất. Những người dân chài nơi đây có
            dịch vụ cano hoặc ghe từ Eo Gió ra Kỳ Co. Du khách sẽ trải nghiệm cảm giác
            lênh đênh trên sóng nước, ngắm cảnh núi non Nhơn Lý hùng vĩ.
            Ngoài tắm biển và lặn ngắm san hô thì chinh phục những dãy núi hoặc tìm đến
            những con suối mát nước trong vắt chảy xuyên qua cánh rừng già sẽ rất thú vị.
            Bạn có thể leo lên núi cạnh bãi tắm để ngắm nhìn cảnh quan bãi Kỳ Co từ trên
            cao, ghi lại những khoảnh khắc in dấu ở nơi đây. Núi có độ thoai thoải, dễ
            leo, nhưng tốt nhất không nên đi một mình.
          </span>
          <div class="home_tour-details-desc-btn">
            <button class="booking">
              View Details
            </button>
          </div>
        </div>

      </div>
    </div>
    <div class="home_discount">
      <div class="home_discount-bg">
        <img src="https://cdn.pixabay.com/photo/2013/10/09/02/27/lake-192990_960_720.jpg"
          alt="">
      </div>
      <div class="home_discount-title">
        <h5 class="title">GET DISCOUNT 10-20% OFF ANY TOUR PACKAGE</h5>
        <h6 class="subtitle">WHEN YOU PURCHASE ANY PACKAGE & GET NEXT TOUR</h6>
        <a [routerLink]="['/social']">Start your trip now!</a>
      </div>
    </div>
    <div class="spaceline">

    </div>
    <div class="home_social">
      <div class="home_social-title">
        <h3>SOCIAL NETWORK</h3>
      </div>
      <div class="home_social-list multiple-items">
        <div *ngFor="let item of posts; let i = index">
          <div class="home_social-details" *ngIf="i < 3">
            <div class="home_social-details-img">
              <img src="{{ item.user_information.image }}" alt="">
            </div>
            <div class="home_social-details-name">
              <span>{{ item.user_information.name }}</span>
            </div>
            <div class="home_social-details-time">
              <span>{{ item.user_information.birth_date }}</span>
            </div>
            <div class="home_social-details-desc d-flex flex-column">
              <h5 class="post-title pt-3 flex-shrink-0">{{ item.title }}</h5>
              <p class="home_social-content flex-1">{{ item.content }}</p>
              <div class="home_social-desc-img flex-shrink-0">
                <img *ngIf="item.post_picture.length > 0" src="{{ item.post_picture[0].images  }}" alt="" class="img-tour">
                <img *ngIf="item.post_picture.length == 0" src="" alt="" class="img-tour">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home_social-btn">
        <a [routerLink]="['/social']">Join with us!</a>
      </div>
    </div>

    <div class="home_discount">
      <div class="home_discount-bg">
        <img
          src="https://cdn.pixabay.com/photo/2018/04/25/09/26/eiffel-tower-3349075_960_720.jpg"
          alt="">
      </div>
      <div class="home_discount-title">
        <h5 class="title">DISCOUNT UP TO 70%</h5>
        <h6 class="subtitle">WHEN YOU GO WITH YOUR FAMILY OR YOUR FRIEND</h6>
        <a [routerLink]="['/social']">Booking now!</a>
      </div>
    </div>
    <div class="spaceline">

    </div>
    <div class="home_popular">
      <div class="home_popular-title">
        <h3>POPULAR PLACE</h3>
      </div>
      <div class="home_popular-list">
        <div class="home_popular-item" *ngFor="let item of tours">
          <div class="home_popular-item-img">
            <img
              src="{{ item.images }}"
              alt="">
          </div>
          <div class="home_popular-item-title">
            <span>{{ item.title }}</span>
          </div>
          <div class="home_popular-item-price">
            <span>{{ item.price_tour | number: '1.0-0' }} VNĐ</span>
          </div>
          <div class="home_popular-item-desc">
            <span>{{ item.description }}</span>
          </div>
          <div class="home_popular-item-btn">
            <a>Views Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>


