<app-changeinfo></app-changeinfo>
<div class="full-body">
    <div class="full-infor">
      <div class="full-infor-header">
          <div class="full-infor-img">
              <img src="assets/images/avatar/avatar.jfif" alt="" class="full-avatar">
              
          </div>
          <div class="full-infor-name">
              <span  *ngIf="data">{{data?.name }}</span>
          </div>
          <div class="full-infor-changed">
            <a href="" data-bs-toggle="modal" data-bs-target="#changedinfomodal" *ngIf="isOwner==true">
              <i class="fa-solid fa-pencil"></i>
              <span class="changed-infor" >Thay đổi thông tin</span>
            </a>
            <div *ngIf="!isOwner && !isFriend && !isPending">
              <i class="fa-solid fa-user-plus"></i>
            </div>
            
            <div *ngIf="!isOwner && isFriend">
              <i class="fa-solid fa-user-check"></i>
            </div>
            
            <div *ngIf="!isOwner && isPending ">
              <i class="fa-solid fa-clock"></i>
            </div>
          </div>
          <div class="full-infor-container">
            <div class="full-infor-sex">
                <span class="sex" *ngIf="data">Gender: {{data?.gender }}</span>
              </div>
              <div class="full-infor-phonenumber">
                <span class="phonenumbe" *ngIf="data">Phone: {{data?.phone }}</span>
              </div>
              <!-- <div class="full-infor-dateofbirth">
                <span class="dateofbir" *ngIf="data">Date of birth: {{data?.birth_date }}</span>
              </div> -->
          </div>
      </div>
      <div class="full-infor-desc">
          <div class="full-infor-desc-title">
            <h5 [class]="isProfilePath() == true ? 'about_border' : 'about'"><a href="" *ngIf="id_user" [routerLink]="['/profile',id_user]" routerLinkActive="router-link-active">About</a></h5>
            <h5 [class]="isProfilePath() == false ? 'post_border' : 'post'"><a href="" *ngIf="id_user" [routerLink]="['/profile/post',id_user]" routerLinkActive="router-link-active">Post</a></h5>
          </div> 
      </div>
      
    </div>
  </div>