  <app-changeinfo></app-changeinfo>

  <div class="full-body">
    <div class="full-infor">
      <div class="full-infor-header">
        <div class="full-infor-img">
          <img src="assets/images/avatar/avatar.jfif" alt="" class="full-avatar">
        </div>

        <div class="full-infor-name">
          <h4 class="name fw-bold">Nguyễn Quốc Anh</h4>

          <button class="btn btn-danger connect-friend shadow-none"><i
              class="fa-solid fa-user-group"></i>Friend</button>
        </div>

        <div class="full-infor-changed">
          <a href="" data-bs-toggle="modal" data-bs-target="#changedinfomodal">
            <i class="fa-solid fa-pencil"></i>
            <span class="changed-infor">Thay đổi thông tin</span>
          </a>
        </div>
        <!-- <div class="full-infor-addfriend">
              icon ket ban
              <i class="fa-solid fa-user-plus"></i>
              icon da ket ban
              <i class="fa-solid fa-user-check"></i>
            </div> -->
      </div>
      <div class="full-infor-desc">
        <div class="full-infor-desc-title">
          <h5 [class]="isProfilePath() === '/profile' ? 'about_border border-native' : 'about'"><a href=""
              [routerLink]="['/profile']" routerLinkActive="router-link-active">About</a></h5>
          <h5 [class]="isProfilePath() === '/profile/friends' ? 'friends_border border-native' : 'friend'"><a href=""
              [routerLink]=" ['/profile/friends']" routerLinkActive="router-link-active">Friends</a></h5>
          <h5 [class]="isProfilePath() === '/profile/images' ? 'images_border border-native' : 'images'"><a href=""
              [routerLink]="['/profile/images']" routerLinkActive="router-link-active">Images</a></h5>
        </div>
      </div>

    </div>
  </div>
