.full-infor{
    padding: 0 10px;
    padding-top: 10px;
    .full-infor-img{
        img{
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .full-infor-name{
        span{
            font-weight: 500;
            font-size: 20px;

        }
    }
    .full-infor-changed{
        margin-top: 6px;
        font-size: 12px;
        a{
            text-decoration: none;
        }
        i{
            margin-left: 7px;

        }
        span{
            margin-left: 5px;
        }

    }
    .full-infor-addfriend{
        i{
            margin-left: 10px;
            border: 1px solid var(--color-border);
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    .full-infor-container{
        color: #6c757d;
        font-size: 14px;
    }
  }

  .full-infor-header{
    display: grid;
    grid-template-columns: 120px auto 1fr;
    grid-template-rows: 30px auto;
    .full-infor-img{
        grid-row-start: 1;
        grid-row-end: 3;
    }
  }

  .full-infor-desc{
    .history_pagination_social
    {
      margin-bottom: unset;
      font-size: 12px;
      color: #6c757d;
      margin-left: 5px;
    }
    .full-infor-desc-title{
        border-bottom: 1px solid var(--color-border);
        margin-top: 15px;
        h5{
            margin: 0;
            padding: 10px 0 2px 0;
            font-size: 17px;
            font-weight: 500;
            display: inline-block;
            cursor: pointer;

            a{
                text-decoration: none;
                color: var(--color-main);
            }
        }
        .about{
            padding-right: 20px;
            border: none;
        }
        .about_border{
            border-bottom: 2px solid black;
        }
        .post_border{
            border-bottom: 2px solid black;
        }
        .post{
            padding-left: 20px;
            border: none;
        }
    }
    .full-infor-desc-biography{
        .full-infor-desc-biography-title{
            margin: 0;
            padding: 10px 0;
        }
        span{
            color: var(--color-content);
            font-weight: 300;
            font-size: 15px;
        }
    }
    .full-infor-desc-location{
        display: grid;
        grid-template-columns: 25px auto;
        i{
            text-align: center;
            padding-top: 5px;
            color: red;
        }
        span{
            padding: 5px 0;
            color: var(--color-content);
            font-weight: 300;
            font-size: 15px;
        }

    }
    .full-infor-desc-membersince{
        display: grid;
        grid-template-columns: 25px auto;
        span{
            padding: 5px 0;
            color: var(--color-content);
            font-weight: 300;
            font-size: 15px;

        }
        i{
            text-align: center;
            padding-top: 6px;
            color: rgb(89, 89, 210);
        }
    }
    .full-infor-desc-social-list{
        .full-infor-desc-social-list-title{
            margin: 0;
            padding: 10px 0;

        }
        .full-infor-desc-social-item{
            display: grid;
            grid-template-columns: 25px auto;
            color: var(--color-content);
            span{
                padding: 5px 0;
                font-weight: 300;
                font-size: 15px;
            }
            .facebook{
                text-align: center;
                padding-top: 6px;
                color: rgb(24, 119, 242);
            }
            .ins{
                text-align: center;
                padding-top: 6px;
                color: rgb(225, 48, 108);
            }
            .twt{
                text-align: center;
                padding-top: 6px;
                color: rgb(29, 161, 242);
            }
        }
    }

    .full-infor-edu{

        .full-infor-edu-title{
            margin: 0;
            padding: 10px 0;
        }
        .full-infor-edu-item{
            display: grid;
            grid-template-columns: 25px auto;
            .edu{
                color: var(--color-content);
                font-weight: 300;
                font-size: 15px;
            }
            i{
                text-align: center;

                color: teal;
            }
       }
    }
  }
