<div class="container_details mx-auto px-4">
  <div class="details_title">
    <span>{{ tour.tour_detail[0].title }}</span>
  </div>
  <div class="details_infor-title">
    <h4>About</h4>
  </div>

  <div class="details_infor">
    <div class="details_desc">
      <p>{{ tour.tour_detail[0].description }}</p>
    </div>
  </div>

  <div class="details_img" id="image-container">
    <a class="details_img-item" *ngFor="let item of tour.tour_detail[0].tour_picture" data-toggle="lightbox"
      data-caption="This describes the image" href="assets/img/Dat.jpg">
      <img src="{{ item.images }}" alt="">
    </a>
  </div>

  <div class="details_service-title">
    <h4>Facilities</h4>
  </div>
  <div class="details_service">
    <div class="details_service-item">
      <i class="fa-solid fa-square-parking"></i>
      <span>Free parking</span>
    </div>
    <div class="details_service-item">
      <i class="fa-solid fa-wifi"></i>
      <span>Free wifi</span>
    </div>
    <div class="details_service-item">
      <i class="fa-solid fa-ban-smoking"></i>
      <span>No smoking</span>
    </div>
    <div class="details_service-item">
      <i class="fa-solid fa-car-side"></i>
      <span>Free shuttle service</span>
    </div>
  </div>

  <div class="details_linespace"></div>

  <div class="details_booking-title">
    <h4>Booking</h4>
  </div>

  <div class="details_booking">
    <span class="price d-flex align-items-center">
      <i class="fa-solid fa-dollar-sign"></i>Price: {{ tour.tour_detail[0].price_tour | currency }}</span>
    <span class="transport d-flex align-items-center">
      <i class="fa-solid fa-car-side"></i>Transportation: Car
    </span>
    <span class="time-start d-flex align-items-center">
      <i class="fa-regular fa-clock"></i>Time Start: {{ tour.tour_detail[0].date_start | date}}

    </span>
    <span class="time-end d-flex align-items-center">
      <i class="fa-regular fa-clock"></i>Time End: {{ tour.tour_detail[0].date_end | date }}
    </span>
    <span class="phone d-flex align-items-center">
      <i class="fa-solid fa-phone"></i>Phone: {{ tour.tour_detail[0].user_information.phone }}
    </span>

    <span class="phone d-flex align-items-center">
      <i class="fa-solid fa-users"></i>Amount: {{ tour.tour_detail[0].amount_customer_present }} /
      {{ tour.tour_detail[0].amount_customer_maximum }}
    </span>
  </div>

  <app-book-tour></app-book-tour>

  <!-- <button class="btn-booking">
    Booking Now!
  </button> -->

  <div class="details_linespace"></div>

  <div class="details_reviews-title">
    <h4>Reviews</h4>
  </div>
  <div class="details_reviews">
    <div class="details_stars">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <div class="details_count-cmt">
        <span class="rate">5/5 <b>Excellent</b></span>
        <span class="count">({{ lengthComment }} reviews)</span>
      </div>
    </div>

    <form [formGroup]="commentGroup" class="form_comment-tour d-flex justify-between w-100" (submit)="commentTour()">
      <input formControlName="content" class="comment_tour border" type="text" placeholder="Bình luận về tour...">
      <button [disabled]="commentGroup.invalid" class="submit_comment_tour" type="submit">Bình luận</button>
    </form>

    <div class="comments_container">
      <div class="details_reviews-infor d-flex" *ngFor="let item of tour.tour_comments | async">
        <div class=" details_reviews-infor-container">
          <div class="details_reviews-infor-img">
            <img src="assets/images/avatar/{{ item.user.image }}" alt="">
          </div>
        </div>

        <div>
          <div class="details_reviews-infor-name">
            <span class="name_customer_comment">{{ item.user.name }}</span>
          </div>
          <div class="details_reviews-infor-daypost">
            <span>{{ item.created_at}}</span>
          </div>
          <div class="details_reviews-infor-desc">
            <p class="content_comment">{{ item.content }} </p>
          </div>
        </div>
      </div>
    </div>

    <button class="btn_more btn_comments" *ngIf="lengthComment > 3" (click)="moreComments()">
      More comments <i class="fa-solid fa-chevron-down"></i>
    </button>

    <button class="btn_less btn_comments" *ngIf="lengthComment > 3" (click)="lessComments()">
      Less comments <i class="fa-solid fa-chevron-up"></i>
    </button>
  </div>
</div>