<section class="container">

  <div class="create_post">
    <app-create-post></app-create-post>
  </div>

  <div class="posts">
    <div class="post_item">
      <div class="post_top d-flex align-items-center">
        <img
          src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-1/335021120_125817703593998_8544065672237814919_n.jpg?stp=cp0_dst-jpg_p40x40&_nc_cat=108&ccb=1-7&_nc_sid=7206a8&_nc_ohc=jWWuoSKMZPQAX9m4ISH&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfArxu7y09yz4QgctmHAqt2U_0-sgOzLmClawHz7ilZEWg&oe=6446A4B0"
          alt="">

        <div>
          <h5 class="post_name">Name</h5>
          <p class="post_time">22 giờ <i class="fa-solid fa-earth-asia"></i></p>
        </div>
      </div>

      <div class="post_content">
        <p>content</p>
      </div>

      <div class="post_images d-grid">
        <div class="post_image">
          <img
            src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313"
            alt="">
        </div>

        <div class="post_image">
          <img
            src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313"
            alt="">
        </div>

        <div class="post_image">
          <img
            src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313"
            alt="">
        </div>
      </div>
    </div>
  </div>
</section>
