.posts
{
  display: grid;
  grid-template-rows: auto;
  row-gap: 20px;
  .post_top
  {

    img
    {
      border-radius: 50px;
      height: 40px;
      width: 40px;
      object-fit: cover;
    }
  }

  .post_top--info
  {
    margin-left: 10px;
    h5, p
    {
      margin-bottom: unset;
    }

    h5
    {
      font-size: 16px;
    }

    p
    {
      color: var(--color-sub-text);
      font-size: 13px;
    }
  }

  .post_content
  {
    margin: 15px 0;
    font-size: 15px;
  }

  .post_images
  {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 15px;
    .post_image
    {
      img
      {
        border-radius: 5px;
        width: 245px;
        height: 340px;
        object-fit: cover;
      }
    }
  }


  .likes
  {
    span
    {
      margin-right: 15px;
      i
      {
        font-size: 22px;
        padding-right: 5px;
      }

      p
      {
        font-size: 11px;
        color: var(--color-sub-text);
      }
    }
  }

  .comments
  {
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-row: auto;
    row-gap: 10px;

    .comment
    {
      padding-bottom: 10px;

      .comment_item
      {
        img
        {
          height: 30px;
          width: 30px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .comment__item--content
      {
        margin-left: 10px;
        .reply_content
        {
          font-size: 14px;
          color: var(--color-content);
          b
          {
            color: var(--color-main);
          }
        }

        .reply_container
        {
          .reply_time
          {
            color: var(--color-sub-text);
            font-size: 12px;
          }

          .reply_choose
          {
            background-color: transparent;
            outline: none;
            border: unset;
            color: var(--color-sub-text);
            font-size: 13px;
            flex-basis: 60px;
          }

          .btn-chooses
          {
            color: var(--color-sub-text);
          }

          .popup
          {
            display: none;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9;
            background-color: rgba(0, 0, 0, 0.6);
          }

          .card
          {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            box-shadow: var(--color-shadow);
            height: auto;
            width: 400px;
            z-index: 99;
            border-radius: 5px;

            .btn-popup
            {
              background-color: transparent;
              border-bottom: 1px solid var(--color-border);
              font-size: 14px;
              font-weight: 600;
              padding: 15px 0;
              transition: all 0.25s ease;
            }

            .btn-popup:hover
            {
              opacity: 80%;
            }

            .btn-popup:last-child
            {
              border-bottom: unset;
            }

            .btn-report, .btn-delete
            {
              color: #f1737d;
            }
          }

          #popup_reply:checked ~ .popup
          {
            display: block;
          }

          #popup_reply:checked ~ .card
          {
            display: flex;
            flex-direction: column;
          }

        }
      }
    }
  }

  .form-comment
  {
    border: unset;
    border-bottom: 1px solid var(--color-border);

    .comment_insert
    {
      outline: none;
      border: unset;
      font-size: 14px;
    }

    .btn-comment
    {
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.messenger_container
{
  right: 14%;
}



