<div class="filterTour">
  <form action="" class="booking">
    <h4 class="h5 title_search">Tour Search: <label for=""> 5 result</label></h4>

    <div>
      <label for="customRange1" class="form-label">
        Giá tour:
        <span class="price_start price"> 50000 </span>
        -
        <span class="price_end price"> 100000</span>
      </label>

      <input type="range" class="form-range shadow-none" id="customRange1">
    </div>

    <label for="city">Thành phố</label>
    <select id="city" class="form-select">
      <option value="">Phù Mỹ</option>
      <option value="">An Nhơn</option>
    </select>

    <label for="district">Quận</label>
    <select id="district" class="form-select">
      <option value="">Phù Mỹ</option>
      <option value="">An Nhơn</option>
    </select>

        <label>
          <input type="checkbox" name="vehicle[]" id="">
          Xe điện
        </label>
      </div>
    </div>

    <label for="town">Thị trấn</label>
    <select id="town" class="form-select">
      <option value="">Phù Mỹ</option>
      <option value="">An Nhơn</option>
    </select>
    <input type="submit" name="" id="filter" class="btn mt-2" value="Duyệt">
  </form>
</div>
