<div class="filterTour">
  <form action="" class="booking">
    <h4 class="h5 title_search">Tour Search: <label for=""> 5 result</label></h4>

    <div>
      <label for="customRange1" class="form-label">
        Giá tour:
        <span class="price_start price"> 50000 </span>
        -
        <span class="price_end price"> 100000</span>
      </label>

      <input type="range" class="form-range shadow-none" id="customRange1">
    </div>

    <div>
      <label for="tour" class="form-label">Địa điểm bắt đầu</label>
      <select id="city" class="form-select shadow-none">
        <option value="">Phù Mỹ</option>
        <option value="">An Nhơn</option>
      </select>
    </div>

    <div>
      <label for="tour" class="form-label">Địa điểm đến</label>
      <select id="city" class="form-select shadow-none">
        <option value="">Phù Mỹ</option>
        <option value="">An Nhơn</option>
      </select>
    </div>

    <div>
      <label for="sDay" class="form-label">Ngày khởi hành</label>
      <input type="date" name="startDay" id="sDay" class="form-control shadow-none">
    </div>

    <div>
      <label for="sDay" class="form-label">Ngày kết thúc</label>
      <input type="date" name="endDay" id="eDay" class="form-control shadow-none">
    </div>

    <div>
      <label for="vehical" class="form-label">Phương tiện: </label>

      <div class="vehicle_items d-grid">
        <label>
          <input type="checkbox" name="vehicle[]" id="">
          Xe đạp
        </label>

        <label>
          <input type="checkbox" name="vehicle[]" id="">
          Xe máy
        </label>

        <label>
          <input type="checkbox" name="vehicle[]" id="">
          Xích lô
        </label>

        <label>
          <input type="checkbox" name="vehicle[]" id="">
          Cưỡi ngựa
        </label>

        <label>
          <input type="checkbox" name="vehicle[]" id="">
          Cưỡi voi
        </label>

        <label>
          <input type="checkbox" name="vehicle[]" id="">
          Xe điện
        </label>
      </div>
    </div>

    <input type="submit" name="" id="filter" class="btn mt-2" value="Duyệt">
  </form>
</div>
