<div class="post_Tour">
    <h4 class="text-center">Post Tour</h4>
    <form action="" class="mx-3">
        <label for="title">Tên tour</label>
        <input type="text" class="form-control" name="title" id="title">
        <label for="description">Mô tả</label>
        <textarea name="description"  class="form-control" id="description" cols="30" rows="10"></textarea>
        <label for="startDay">Ngày khởi Hành </label>
        <input type="date" class="form-control" name="startDay" id="startDay">
        <label for="endDay">Ngày kết thúc </label>
        <input type="date" class="form-control" name="endDay" id="endDay">
        <label for="price">Giá Tour </label>
        <input type="number" class="form-control" name="price" id="price">
        <label for="Detail_price">Giá Chi tiết </label>
        <input type="text" class="form-control" name="Detail_price" id="Detail_price">
        <label for="amount_customer">Số Lượng khách tối đa </label>
        <input type="text" class="form-control" name="amount_customer" id="amount_customer">
        <label for="des-img">Hình ảnh mô tả </label>
        <input type="file" class="form-control" name="des-img" id="des-img">
        <label for="vehical">Phương tiện</label>
        <select id="vehical" class="form-select">
            <option value="">xe máy</option>
            <option value="">xe đạp</option>
            <option value="">máy bay phản lực</option>
            <option value="">UFO</option>
        </select>
        <div class="img-veheical mt-3">
            <img src="https://www.collinsdictionary.com/images/full/motorbike_69587620.jpg" class="img-thumbnail w-25" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDR1C1ouoBT3eDkgPC5Hz_kFevoDEvlkF4TQ&usqp=CAU" class="img-thumbnail w-25" alt="">
            <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/324/597/products/42710433-2309-408e-9e6f-07076f363e22.jpg" class="img-thumbnail w-25" alt="">
            <img src="https://d.newsweek.com/en/full/2225092/ufo.jpg" class="img-thumbnail w-25" alt="">
        </div>
        <div class="d-flex justify-content-center"><input type="submit" class="btn w-50 my-3"
            value="submit"></div>
    </form>
</div>