<div class="container_historybooking-tour">
  <div class="historybooking-tour">
    <div class="hbt-header">
      <h3>List Of Tours</h3>
    </div>
    <div class="hbt-content">
      <table class="hbt-table table">
        <thead class="">
          <tr>
            <th>STT</th>
            <th>Title</th>
            <th>Description</th>
            <th>Vehicle</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Price</th>
            <th>Status</th>
            <th>Feature</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of data, let i = index">
          <tr>
            <th scope="row">{{ i+1 }}</th>
            <td>{{ item.title }}</td>
            <td>
              <p class="description">{{ item.description }}</p>
            </td>
            <td>{{ item.vehicles.name }}</td>
            <td class="date">{{ item.date_end }}</td>
            <td class="date">{{ item.date_start }}</td>
            <td>{{ item.price_tour | currency }}</td>
            <td>
              <p class="status status-secondary" *ngIf="item.status == 0">Chờ duyệt</p>
              <p class="status status-success" *ngIf="item.status == 1">Hoạt động</p>
              <p class="status status-danger" *ngIf="item.status == 2">Tạm ngưng</p>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-end">
                <a *ngIf="item.status === 1" href="" [routerLink]="['/manager/booking']" [queryParams]="{id:item.id}"
                  class="detail users d-flex align-items-center"><i class="fa-solid fa-users"></i> Users</a>

                <a *ngIf="item.status === 1" href="" [routerLink]="['/tour-detail']" [queryParams]="{id:item.id}"
                  class="detail d-flex align-items-center"><i class="fa-regular fa-eye"></i> View</a>

                <a href="" class="d-flex align-items-center edit" [routerLink]="['/manager/edit']"
                  [queryParams]="{id:item.id}"><i class="fa-regular fa-pen-to-square"></i> Edit</a>

                <button class="bg-transparent border-0 d-flex align-items-center" type="submit"
                  (click)="deleteHistoryPostTour(item.id)"><i class="fa-regular fa-trash-can"></i> Remove</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
