
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
html,body
{
  font-family: 'Poppins', sans-serif;
  background-color: #f7f9fa;
}

hr
{
  background-color: var(--color-border);
}

:root{
  --color-background-main: #f7f9fa;
  --color-btn-main: #E4E6EB;
  --color-sub-text: #8d8b8a;
  --color-main: #191b1f;
  --color-content: #585858;
  --color-border: #d9d9d9;
  --color-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
