<section class="messsenger">
  <div class="messenger_header d-flex justify-content-between">
    <div class="messenger_left d-flex">
        <img class="messenger_avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">
        <div class="messenger_info">
          <h6 class="messenger_name">Hội chứng cuồn điên</h6>
          <p class="messenger_status">Đang hoạt động</p>
        </div>
    </div>
    <div class="messenger_window d-flex">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>

  <div class="messenger_content d-flex flex-column">
      <div class="messenger_user_1 d-flex align-items-center">
        <img class="essenger_user_1--avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">

        <p class="messenger_user_1--content">Đừng nghiện nữa</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">Hãy làm con người đi. Hư hỏng</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">T báo công an</p>
      </div>

      <div class="messenger_user_1 d-flex align-items-center">
        <img class="essenger_user_1--avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">

        <p class="messenger_user_1--content">Mày chơi thử đi, nó giải quyết cuộc sống mày một cách nhanh nhất</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">Mày để dành chơi 1 mình mày đi tao xin cáo từ</p>
      </div>

      <div class="messenger_user_1 d-flex align-items-center">
        <img class="essenger_user_1--avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">

        <p class="messenger_user_1--content">Mày không chơi phải không</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">Đúng mày đem về tự chơi đi </p>
      </div>
  </div>

  <div class="messenger_insert">
    <form action="" class="form-control form_messenger d-flex justify-content-between">
      <input type="text" class="messenger_input shadow-none w-100" placeholder="Nhập tin nhắn bạn muốn gửi">

      <button type="submit" class="messenger_submit">
        <i class="fa-regular fa-paper-plane"></i>
      </button>
    </form>
  </div>
</section>

<section class="messsenger">
  <div class="messenger_header d-flex justify-content-between">
    <div class="messenger_left d-flex">
        <img class="messenger_avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">
        <div class="messenger_info">
          <h6 class="messenger_name">Hội chứng cuồn điên</h6>
          <p class="messenger_status">Đang hoạt động</p>
        </div>
    </div>
    <div class="messenger_window d-flex">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>

  <div class="messenger_content d-flex flex-column">
      <div class="messenger_user_1 d-flex align-items-center">
        <img class="essenger_user_1--avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">

        <p class="messenger_user_1--content">Đừng nghiện nữa</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">Hãy làm con người đi. Hư hỏng</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">T báo công an</p>
      </div>

      <div class="messenger_user_1 d-flex align-items-center">
        <img class="essenger_user_1--avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">

        <p class="messenger_user_1--content">Mày chơi thử đi, nó giải quyết cuộc sống mày một cách nhanh nhất</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">Mày để dành chơi 1 mình mày đi tao xin cáo từ</p>
      </div>

      <div class="messenger_user_1 d-flex align-items-center">
        <img class="essenger_user_1--avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">

        <p class="messenger_user_1--content">Mày không chơi phải không</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">Đúng mày đem về tự chơi đi </p>
      </div>
  </div>

  <div class="messenger_insert">
    <form action="" class="form-control form_messenger d-flex justify-content-between">
      <input type="text" class="messenger_input shadow-none w-100" placeholder="Nhập tin nhắn bạn muốn gửi">

      <button type="submit" class="messenger_submit">
        <i class="fa-regular fa-paper-plane"></i>
      </button>
    </form>
  </div>
</section>


<section class="messsenger">
  <div class="messenger_header d-flex justify-content-between">
    <div class="messenger_left d-flex">
        <img class="messenger_avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">
        <div class="messenger_info">
          <h6 class="messenger_name">Hội chứng cuồn điên</h6>
          <p class="messenger_status">Đang hoạt động</p>
        </div>
    </div>
    <div class="messenger_window d-flex">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>

  <div class="messenger_content d-flex flex-column">
      <div class="messenger_user_1 d-flex align-items-center">
        <img class="essenger_user_1--avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">

        <p class="messenger_user_1--content">Đừng nghiện nữa</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">Hãy làm con người đi. Hư hỏng</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">T báo công an</p>
      </div>

      <div class="messenger_user_1 d-flex align-items-center">
        <img class="essenger_user_1--avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">

        <p class="messenger_user_1--content">Mày chơi thử đi, nó giải quyết cuộc sống mày một cách nhanh nhất</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">Mày để dành chơi 1 mình mày đi tao xin cáo từ</p>
      </div>

      <div class="messenger_user_1 d-flex align-items-center">
        <img class="essenger_user_1--avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">

        <p class="messenger_user_1--content">Mày không chơi phải không</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">Đúng mày đem về tự chơi đi </p>
      </div>
  </div>

  <div class="messenger_insert">
    <form action="" class="form-control form_messenger d-flex justify-content-between">
      <input type="text" class="messenger_input shadow-none w-100" placeholder="Nhập tin nhắn bạn muốn gửi">

      <button type="submit" class="messenger_submit">
        <i class="fa-regular fa-paper-plane"></i>
      </button>
    </form>
  </div>
</section>


<section class="messsenger">
  <div class="messenger_header d-flex justify-content-between">
    <div class="messenger_left d-flex">
        <img class="messenger_avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">
        <div class="messenger_info">
          <h6 class="messenger_name">Hội chứng cuồn điên</h6>
          <p class="messenger_status">Đang hoạt động</p>
        </div>
    </div>
    <div class="messenger_window d-flex">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>

  <div class="messenger_content d-flex flex-column">
      <div class="messenger_user_1 d-flex align-items-center">
        <img class="essenger_user_1--avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">

        <p class="messenger_user_1--content">Đừng nghiện nữa</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">Hãy làm con người đi. Hư hỏng</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">T báo công an</p>
      </div>

      <div class="messenger_user_1 d-flex align-items-center">
        <img class="essenger_user_1--avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">

        <p class="messenger_user_1--content">Mày chơi thử đi, nó giải quyết cuộc sống mày một cách nhanh nhất</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">Mày để dành chơi 1 mình mày đi tao xin cáo từ</p>
      </div>

      <div class="messenger_user_1 d-flex align-items-center">
        <img class="essenger_user_1--avatar" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/341857422_213834411342259_2047968322786129824_n.png?stp=dst-png_s600x600&_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=fZcEieP7FDQAX8RnTwn&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBoFpIo3YXmYxcAHTRhEgq4bX9Gk86l1BacMgwo4uqwNg&oe=64454313" alt="">

        <p class="messenger_user_1--content">Mày không chơi phải không</p>
      </div>

      <div class="messenger_user_2">
        <p class="messenger_user_2--content">Đúng mày đem về tự chơi đi </p>
      </div>
  </div>

  <div class="messenger_insert">
    <form action="" class="form-control form_messenger d-flex justify-content-between">
      <input type="text" class="messenger_input shadow-none w-100" placeholder="Nhập tin nhắn bạn muốn gửi">

      <button type="submit" class="messenger_submit">
        <i class="fa-regular fa-paper-plane"></i>
      </button>
    </form>
  </div>
</section>

