<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changedinfomodal">
    Launch demo modal
  </button> -->

<div class="modal fade" id="changedinfomodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="row">
        <div>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thay đổi thông tin cá nhân</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="change_infor-img position-relative">
              <i class="fa-solid fa-camera position-absolute">
                <input type="file" id="changed_img">
              </i>

              <img src="assets/img/Dat.jpg" alt="" id="img_info">
            </div>
            <div class="change_infor">

              <div class="change_infor-name">
                <span>Full name</span>
                <input class="name" value="Hồ Quang Đạt">
              </div>
              <div class="change_infor-gender">
                <span>Gender</span>
                <select name="" id="">
                  <option value="Nam">Nam</option>
                  <option value="Nữ">Nữ</option>
                </select>
              </div>

              <div class="change_infor-phonenumber">
                <span>Phone number</span>
                <input type="text" class="phone" value="0345128000">
              </div>
              <div class="change_infor-dateofbirth">
                <span>Date of birth</span>
                <input type="date" class="dob">
              </div>

              <div class="change_infor-biography">
                <div class="change_infor-biography-desc">
                  <span>Description</span>
                  <textarea name="" id="" cols="10" rows="5">Đẹp trai không ai sánh bằng</textarea>
                </div>
                <div class="change_infor-biography-location">
                  <span>Address</span>
                  <input type="text" value="Binh Dinh, Viet Nam">
                </div>
              </div>
              <div class="change_infor-social">
                <div class="change_infor-social-facebook">
                  <span>Facebook</span>
                  <input type="text" value="Facebook.com/datquangho">
                </div>
                <div class="change_infor-social-ins">
                  <span>Instagram</span>
                  <input type="text" value="instagram.com/datquangho">
                </div>
                <div class="change_infor-social-twitter">
                  <span>Twitter</span>
                  <input type="text" value="twitter.com/datquangho">
                </div>
              </div>
              <div class="change_infor-edu">
                <span>School</span>
                <input type="text" value="Đại học Quy Nhơn">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn-save btn btn-primary">Save Change</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
