<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changedinfomodal">
    Launch demo modal
  </button> -->
  <form action="" method="post" [formGroup]="changeInforForm"  (ngSubmit)="saveChange()">
      <div class="modal fade" id="changedinfomodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="row">
              <div>
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Thay đổi thông tin cá nhân</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="change_infor-img position-relative">
                        <i class="fa-solid fa-camera position-absolute">
                            <input type="file" id="changed_img" formControlName="name">
                        </i>
                        
                        <img src="assets/img/Dat.jpg" alt="" id="img_info">
                    </div>
                    <div class="change_infor">
                        
                        <div class="change_infor-name">
                            <span>Full name</span>
                            <input class="name">
                        </div>
                        <div class="change_infor-gender">
                            <span>Gender</span>
                            <select name="" id="" formControlName="gender">
                                <option value="1">Nam</option>
                                <option value="0">Nữ</option>
                            </select>
                        </div>
                        
                        <div class="change_infor-phonenumber">
                            <span>Phone number</span>
                            <input type="text" class="phone" formControlName="phone">
                        </div>
                        <div class="change_infor-dateofbirth">
                            <span>Date of birth</span>
                            <input type="date" class="dob" formControlName="birth_date">
                        </div>
    
                        <div class="change_infor-biography">
                            <div class="change_infor-biography-desc">
                                <span>Description</span>
                                <textarea name="" id="" cols="10" rows="5">Đẹp trai không ai sánh bằng</textarea>
                            </div>
                            <div class="change_infor-biography-location">
                                <span>Address</span>
                                <input type="text" value="Binh Dinh, Viet Nam" formControlName="address">
                            </div>
                        </div>
                        <div class="change_infor-social">
                            <div class="change_infor-social-facebook">
                                <span>Facebook</span>
                                <input type="text" value="Facebook.com/datquangho">
                            </div>
                            <div class="change_infor-social-ins">
                                <span>Instagram</span>
                                <input type="text" value="instagram.com/datquangho">
                            </div>
                            <div class="change_infor-social-twitter">
                                <span>Twitter</span>
                                <input type="text" value="twitter.com/datquangho">
                            </div>
                        </div>
                        <div class="change_infor-edu">
                            <span>School</span>
                            <input type="text" formControlName="education">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn-save btn btn-primary"  >Save Change</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </form>