
:root{
    --color-background-main: #f7f9fa;
    --color-btn-main: #efefef;
    --color-sub-text: #19283a;
    --color-main: #191b1f;
    --color-border: #e4e7eb;
    --color-boxshadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
}