<div class="container_footer">
    <div class="footer">
        <div class="footer_infor">
            <img src="assets/img/templogo.png" alt="">
            <a href=""><span>Home</span></a>
            <a href=""><span>Social</span></a>
            <a href=""><span>Tour</span></a>
            <div class="footer_infor-companyname">
                <span>3 TL (SAD) © 2023 </span>
            </div>
        </div>
        <div class="footer_contact">
            <div class="footer_contact-location">
                <i class="fa-solid fa-location-dot"></i>
                <span>27 Nguyễn Công Trứ</span>
            </div>
            <div class="footer_contact-phonenumber">
                <i class="fa-solid fa-phone"></i>
                <span>0345728123</span>
            </div>
            <div class="footer_contact-email">
                <i class="fa-regular fa-envelope"></i>
                <span>hoquangdat@gmail.com</span>
            </div>
        </div>
        <div class="footer_about-us">
            <div class="footer_about-us-title">
                <span>About us</span>
            </div>
            <div class="footer_about-us-desc">
                <span>Uy tín, trách nhiệm, có tâm là những thứ chúng tôi có.</span>
            </div>
            <div class="footer_about-us-icon">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>

    </div>
</div>
