.create_post
{
  .create_top
  {
    margin-right: auto;
    .avatar_login
    {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .top_name
    {
      margin-left: 10px;

      .create_post_input
      {
        display: grid !important;
        grid-template-columns: auto auto auto auto;
        column-gap: 10px;

        .select_address_travel, .select_type_travel
        {
          width: 150px !important;
        }

        h6
        {
          font-size: 14px;
        }
        .scope_post
        {
          width: 100px;
          height: 25px;
          font-size: 12px;
          padding: unset;
          background-color: var(--color-btn-main);
          border: unset;
          color: var(--color-main);
          padding-left: 5px;

          option
          {
            border: unset;
            font-size: 12px;
            text-align: left;
          }
        }

        .icon_post
        {
          margin-left: 5px;

        }
      }
    }
  }

  .create_content
  {
    margin-top: 15px;
    width: 100%;
    .create_content-title
    {
      border: unset;
      border-bottom: 1px solid var(--color-border);
      border-radius: unset;
      font-size: 16px;
      padding-left: 5px;
      font-weight: 500;
    }
    .content
    {
      padding: 5px;
      resize: none;
      border-radius: 5px;
      border: none;
      outline: none;
      font-size: 14px;
    }
  }
  .btn-post
  {
    color: var(--color-main);
    background-color: var(--color-btn-main);
    border: unset;
  }
  .btn-post:hover
  {
    opacity: 80%;
  }

  .create_content--image
  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: column;
    column-gap: 15px;
    height: auto;
    .image_item
    {
      overflow: hidden;
      border-radius: 5px;
      img
      {
        width: 100%;
        height: 350px;
        object-fit: cover;
      }

      .icon-close-image
      {
        right: 5px;
        color: var(--color-btn-main);
        font-size: 20px;
        cursor: grab;
      }
    }
  }

}
