.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 60px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;  
    justify-content: space-between;
    position: fixed;
    background-color: #ffffff;
    z-index: 99999;
    padding: 0 10px;
    .form-search
    {
      .search
      {
        border: 1px solid var(--color-border);
        border-radius: 5px;
        font-size: 13px;
        height: 35px;
        outline: none;
        padding-left: 5px;
        width: 250px;
      }
      .btn-search
      {
        background-color: transparent;
        border: unset;
        outline: none;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        transition: all 0.25s ease;
        i {
          color: #d9d9d9;
        }
      }
    }
    .Logo{
        width: 70px;
        height: 59px;
        border-radius: 50%;
        object-fit: cover;
    }

    .toolbar{
        .home{
            margin-right: 6px;
            font-size: 15px;
        }
        .tour{
            font-size: 15px;
        }
    }

    .group{
        display: flex;
        .nofica, .message{
            margin-right: 10px;
            font-size: 20px;
            a
            {
              color: none;
              text-decoration: none;

            i {
              text-align: center;
              height: 40px;
              color: var(--color-main);
              width: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              background-color: var(--color-border);
            }
            }
        }

        .dropdown{
          img
          {
            margin-right: 5px;
            border-radius: 50%;
            object-fit: cover;
            height: 40px;
            width: 40px;
          }

          .btn-logined
          {
            padding: unset;
            font-size: 14px;
            font-weight: 600;
            background-color: unset;
            border: unset;
            color: var(--color-main);
          }

          .dropdown-menu
          {
            top: 8px !important;
            right: 0 !important;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border: unset;
            width: 175px;
            .dropdown-item
            {
              font-size: 14px;

              i
              {
                margin-right: 5px;
              }
            }
          }

        }
        .message{

            font-size: 20px;
        }
    }
    i{
        color: #212529;
    }
}
