<app-fullinfo></app-fullinfo>
<div class="full-body">
  <div class="full-infor-desc">
    <div class="full-infor-desc-biography">
      <h6 class="full-infor-desc-biography-title">Biography</h6>
      <span class="full-infor-desc-biography-content">
        Đẹp trai không ai sánh bằng!
      </span>
    </div>
    <div class="full-infor-desc-location">
      <i class="fa-solid fa-location-dot"></i>
      <span>27 NCT</span>
    </div>
    <div class="full-infor-desc-membersince">
      <i class="fa-regular fa-calendar"></i>
      <span>6/9/2002</span>
    </div>
    <div class="full-infor-desc-social-list">
      <h6 class="full-infor-desc-social-list-title">Social</h6>
      <div class="full-infor-desc-social-item">
        <i class="facebook fa-brands fa-facebook"></i>
        <span>Facebook.com/datquangho</span>
      </div>
      <div class="full-infor-desc-social-item">
        <i class="ins fa-brands fa-instagram"></i>
        <span>Instagram.com/datquangho</span>
      </div>
      <div class="full-infor-desc-social-item">
        <i class="twt fa-brands fa-twitter"></i>
        <span>Twitter.com/datquangho</span>
      </div>
    </div>
    <div class="full-infor-edu">
      <h6 class="full-infor-edu-title">Education</h6>
      <div class="full-infor-edu-item">
        <i class="fa-solid fa-school"></i>
        <span class="edu">Dai Hoc Quy Nhon</span>
      </div>
    </div>

  </div>
</div>
