
  .full-infor-desc{
    margin-left: 50%;
    transform: translateX(-50%);
    .full-infor-desc-biography{
        .full-infor-desc-biography-title{
            margin: 0;
            padding: 10px 0;
        }
        span{
            color: var(--color-content);
            font-weight: 300;   
            font-size: 15px;
        }
    }
    .full-infor-desc-location{
        display: grid;
        grid-template-columns: 25px auto;
        i{
            text-align: center;
            padding-top: 5px;
            color: red;
        }
        span{
            padding: 5px 0;
            color: var(--color-content);
            font-weight: 300;   
            font-size: 15px;
        }
        
    }
    .full-infor-desc-membersince{
        display: grid;
        grid-template-columns: 25px auto;
        span{
            padding: 5px 0;
            color: var(--color-content);
            font-weight: 300;   
            font-size: 15px;
            
        } 
        i{
            text-align: center;
            padding-top: 6px;
            color: rgb(89, 89, 210);
        }
    }
    .full-infor-desc-social-list{
        .full-infor-desc-social-list-title{
            margin: 0;
            padding: 10px 0;
            
        }
        .full-infor-desc-social-item{
            display: grid;
            grid-template-columns: 25px auto;
            color: var(--color-content);
            span{
                padding: 5px 0;
                font-weight: 300;   
                font-size: 15px;
            }
            .facebook{
                text-align: center;
                padding-top: 6px;
                color: rgb(24, 119, 242);
            }
            .ins{
                text-align: center;
                padding-top: 6px;
                color: rgb(225, 48, 108);
            }
            .twt{
                text-align: center;
                padding-top: 6px;
                color: rgb(29, 161, 242);
            }
        }
    }

    .full-infor-edu{
        
        .full-infor-edu-title{
            margin: 0;
            padding: 10px 0;
        }
        .full-infor-edu-item{
            display: grid;
            grid-template-columns: 25px auto;
            .edu{
                color: var(--color-content);
                font-weight: 300;   
                font-size: 15px;
            }
            i{
                text-align: center;
                
                color: teal;
            }
       }         
    }
  }