.background-profile
{
  max-width: 60%;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 30px;
  height: 100%;
  display: grid;
  grid-template-rows: 159px 1fr;

  .profile_header
  {
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    padding: 20px;
  }

  .full-body
  {
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    column-gap: 15px;

    .full-infor-desc{
      width: 390px;
      position: relative;

      .full-infor-left
      {
        position: sticky;
        top: 0;
        display: grid;
        grid-template-rows: 1fr;

        .full-infor-desc-biography
        {
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          border-radius: 10px;
          padding: 15px;
          .full-infor-desc-biography-title
          {
            margin-bottom: unset;
            .amount-images
            {
              font-weight: 500;
              font-size: 14px;
              color: gray;
            }
          }

          .full-infor-desc-biography-content{
            color: #050505;
            font-size: 14px;
            text-align: center;
          }
          .full-infor-content
          {
            display: flex;
            margin: 15px 0;
            i{
                text-align: center;
                color: var(--color-content);
                font-size: 18px;
                width: 30px;
                flex-shrink: 1;
            }
            p{
                color: #050505;
                font-size: 14px;
                margin-bottom: unset;
                margin-left: 5px;
                padding: unset;
            }
          }
        }

        .full-infor-desc-biography:nth-child(n + 2)
        {
          margin-top: 20px;
        }

        .full-infor-desc-social-images, .full-infor-desc-social-friends
        {
          height: auto;
          max-height: 550px;
          overflow-y: hidden;
          .full-infor-title
          {
            margin-bottom: 20px;


            .link-primary
            {
              font-size: 15px;
            }
          }


          .images
          {
            display: flex;
            flex-wrap: wrap;
            grid-gap: 5px;
            width: calc(100% - 2px);
            .image
            {
              img
              {
                border-radius: 5px;
                height: 116px;
                width: 116px;
                object-fit: cover;
              }
            }
            .image:hover
            {
              opacity: 80%;
            }

            .friend
            {
              width: 116px;
              overflow: hidden;

              .friend_name
              {
                font-size: 12px;
                font-weight: 450;
                word-wrap: wrap;
                margin-bottom: unset;
                color: #050505;
              }
            }
          }
        }
      }
    }

  }
}
