
  <div class="container_navbar">
    <div class="navbar-list">
      <div class="navbar-item-breadscrumb">Home</div>

      <h6 class="navbar-item-title">Friends (10)</h6>
      <div class="navbar-item">
        <div class="navbar-infor">
          <div class="navbar-infor-image position-relative">
            <img src="assets/img/QA.jpg" alt="logo">
            <i
              class="status-info fa-solid fa-circle position-absolute bottom-0 right-0"></i>

          </div>
          <div class="navbar-infor-name">
            <span>Nguyễn Quốc Anh</span>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <div class="navbar-infor">
          <div class="navbar-infor-image position-relative">
            <img src="assets/img/QA.jpg" alt="logo">
            <i
              class="status-info fa-solid fa-circle position-absolute bottom-0 right-0"></i>

          </div>
          <div class="navbar-infor-name">
            <span>Nguyễn Quốc Anh</span>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <div class="navbar-infor">
          <div class="navbar-infor-image position-relative">
            <img src="assets/img/QA.jpg" alt="logo">
            <i
              class="status-info fa-solid fa-circle position-absolute bottom-0 right-0"></i>

          </div>
          <div class="navbar-infor-name">
            <span>Nguyễn Quốc Anh</span>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <div class="navbar-infor">
          <div class="navbar-infor-image position-relative">
            <img src="assets/img/QA.jpg" alt="logo">
            <i
              class="status-info fa-solid fa-circle position-absolute bottom-0 right-0"></i>

          </div>
          <div class="navbar-infor-name">
            <span>Nguyễn Quốc Anh</span>
          </div>
        </div>
      </div>
    </div>
  </div>
