<form action="">
  <div class="container_historybooking-tour">
    <div class="historybooking-tour">
      <div class="hbt-header">
        <h3>Tour Booking History</h3>
      </div>
      <div class="hbt-content">
        <table class="hbt-table table">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tour</th>
              <th>Customer</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Crew</th>
              <th>Price</th>
              <th>Payment</th>
              <th>Status</th>
              <th>Booking</th>
              <th>Feature</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of data, let i = index">
            <tr>
              <th scope="row">{{i+1}}</th>
              <td>{{ item.tour_id }}</td>
              <td>{{ item.name_user }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.amount_crew }}</td>
              <td>
                <p class="price">{{ item.tour_pay.total_price | currency }} / {{ item.tours.price_tour | currency}}</p>
              </td>
              <td>
                <p class="payment" *ngIf="item.tour_pay.category_pay_id == 1">Thanh toán trực tiếp</p>
                <p class="payment" *ngIf="item.tour_pay.category_pay_id == 2">Thanh toán Online</p>
                <p class="payment" *ngIf="item.tour_pay.category_pay_id == 3">Đặt cọc</p>
              </td>
              <td>
                <p class="status" [ngClass]="item.status_booking == 'thành công' ? 'status_success' : 'status_booking'">
                  {{ item.status_booking }}</p>
              </td>

              <td>{{ item.created_at | date:'dd-MM-yyyy' }}</td>
              <td>
                <div class="d-flex align-items-center">
                  <button *ngIf="item.status_booking == 'chờ duyệt'"
                    class="bg-transparent border-0 d-flex align-items-center agree" type="submit"
                    (click)="agreeBookingTour(item.id)"><i class="fa-solid fa-check"></i> Agree</button>

                  <button class="bg-transparent border-0 d-flex align-items-center remove" type="submit"
                    (click)="deleteHistoryTour(item.id)"><i class="fa-regular fa-trash-can"></i> Remove</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
