.container_historybooking-tour{
  height: 820px;

    // margin-left: 50%;
    // transform: translateX(-50%);
    .historybooking-tour{
        .hbt-header{
            text-align: center;
            padding-bottom: 20px;
            margin: 0;

            h3
            {
              padding-top: 20px;
            }
        }
        .hbt-content{

            .hbt-table{
                .thead-dark{
                    background-color: #212529;
                    color: white;
                    tr{
                        th{
                            width: 150px;
                            font-size: 14px;
                        }
                    }
                }
                tbody{
                    tr{
                      font-size: 14px;
                        background: white;
                        a{
                          text-decoration: none;
                          font-size: 14px;
                          color: #03001C;
                          i
                          {
                            padding-right: 5px;
                          }
                      }
                      p
                      {
                        margin: unset;
                      }
                      .price
                      {
                        width: 100px;
                      }
                      .payment
                      {
                        color: #5463FF;
                      }
                      .status
                      {
                        width: 90px;
                      }
                      .agree
                      {
                        color: #03C988;
                        margin-right: 15px;
                      }
                      .remove
                      {
                        margin-left: auto;
                      }
                      .status_success
                      {
                        color: #03C988;
                      }
                      .status_booking
                      {
                        color: #FF5B00;
                      }
                      .detail
                      {
                        color: #19A7CE;
                        margin-right: 10px;
                      }
                      button{
                          border: none;
                          border-radius: 5px;
                          font-size: 14px;
                          font-weight: 400;
                          padding: unset;
                          color: #DC0000;
                          i
                          {
                            padding-right: 5px;
                          }
                      }
                      button:hover, a:hover
                      {
                        opacity: 80%;
                      }
                    }
                }
            }
        }
    }
}
