<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="row">
          <div>
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="modal-infor">
                <div class="modal-infor-header">
                    <div class="modal-infor-img">
                        <img src="assets/img/Dat.jpg" alt="" class="modal-avatar">
                    </div>
                    <div class="modal-infor-name">
                        <span>Hồ Quang Đạt</span>
                    </div>
                    <div class="modal-infor-linkprofile">
                        <i class="fa-solid fa-link"></i>
                    </div>
                </div>
                <div class="modal-infor-desc">
                    <div class="modal-infor-desc-title">
                        <h5>About</h5>
                    </div>
                    <div class="modal-infor-desc-biography">
                        <h6 class="modal-infor-desc-biography-title">Biography</h6>
                        <span class="modal-infor-desc-biography-content">
                            Đẹp trai không ai sánh bằng!
                        </span>
                    </div>
                    <div class="modal-infor-desc-location">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Binh Dinh, Viet Nam</span>
                    </div>
                    <div class="modal-infor-desc-membersince">
                        <i class="fa-regular fa-calendar"></i>
                        <span>September 06, 2020</span>
                    </div>
                    <div class="modal-infor-desc-social-list">
                        <h6 class="modal-infor-desc-social-list-title">Social</h6>
                        <div class="modal-infor-desc-social-item">
                            <i class="fa-brands fa-facebook"></i>
                            <span>Facebook</span>
                        </div>
                        <div class="modal-infor-desc-social-item">
                            <i class="fa-brands fa-instagram"></i>
                            <span>Instagram</span>
                        </div>
                        <div class="modal-infor-desc-social-item">
                            <i class="fa-brands fa-twitter"></i>
                            <span>Twitter</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>