<div class="tour_search">
  <div class="search-item">
    <div class="soft">
      <form action=""
        class="d-flex align-items-center search_form justify-content-between">

        <div class="d-flex align-items-center">
          <label for="" class="sub_title">Tìm kiếm: </label>
          <input type="text" class="form-control sort_item shadow-none"
            placeholder="Nhập tiêu đề tour cần tìm...">
        </div>

        <div class="d-flex align-items-center">
          <div>
            <select id="orderBy" class="sort_item form-select shadow-none">
              <option value="" selected>Tất cả</option>
              <option value="">Ngày hiện tại</option>
              <option value="">Đánh giá cao</option>
              <option value="">Giá giảm</option>
              <option value="">Giá tăng</option>
              <option value="">Sắp xếp từ A-Z</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <div class="tour-items-holder">
      <div class="tours-items-list">
        <div class="d-flex mx-2">
          <div class="thumbnail-tour">
            <img
              src="https://q-xx.bstatic.com/xdata/images/xphoto/300x320/130104902.jpg?k=8c85cf8238572ef0bbca2d846a9070b2c9844ec7e16f5ca01089cd1fa45cd265&amp;o="
              class="img-fluid" alt="">
          </div>

          <div class="tour-content d-flex clearfix">
            <div class="tour-content-left">
              <h5 class="tour-title"><a href="" class="text-decoration-none">Tour du Mont
                  Blanc Express</a></h5>
              <div class="tour-info-wrap">
                <div class="tour-info-duration">9 Days / 8 Nights </div>
                <div class="tour-info-availablity">Availability : Jan 18’ - Dec 19’ </div>
              </div>
              <div class="tour-description">
                <p>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit
                  libero, […]</p>
              </div>
            </div>
            <div class="tour-content-right">
              <div class="tour-price">
                <span class="fw-bold">Price:</span>
                <span>600000</span>
              </div>
              <div class="rating">
                <p class="mx-1 text-dark"><i
                    class="fa-regular fa-thumbs-up my-1 mx-1"></i>97%</p>
                <p class="review text-secondary mx-1">(30 review)</p>
              </div>
              <a href="" class="btn">View Detail</a>
            </div>
          </div>
        </div>
      </div>

      <div class="tours-items-list my-3">
        <div class="d-flex mx-2">
          <div class="thumbnail-tour">
            <img
              src="https://q-xx.bstatic.com/xdata/images/xphoto/300x320/130104902.jpg?k=8c85cf8238572ef0bbca2d846a9070b2c9844ec7e16f5ca01089cd1fa45cd265&amp;o="
              class="img-fluid" alt="">
          </div>

          <div class="tour-content d-flex clearfix">
            <div class="tour-content-left">
              <h5 class="tour-title"><a href="" class="text-decoration-none">Tour du Mont
                  Blanc Express</a></h5>
              <div class="tour-info-wrap">
                <div class="tour-info-duration">9 Days / 8 Nights </div>
                <div class="tour-info-availablity">Availability : Jan 18’ - Dec 19’ </div>
              </div>
              <div class="tour-description">
                <p>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit
                  libero, […]</p>
              </div>
            </div>
            <div class="tour-content-right">
              <div class="tour-price">
                <span class="fw-bold">Price:</span>
                <span>600000</span>
              </div>
              <div class="rating">
                <p class="mx-1 text-dark"><i
                    class="fa-regular fa-thumbs-up my-1 mx-1"></i>97%</p>
                <p class="review text-secondary mx-1">(30 review)</p>
              </div>
              <a href="" class="btn">View Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
