<div class="tour_search">
    <h3 class="amount_search mx-3 my-2">9 Result Found</h3>
    <div class="search-item">
        <div class="soft d-flex">
            <form action="" class="d-flex mx-3 my-2">
                <p class="mt-1">Sort by</p>
                <select id="orderBy" class="mx-2">
                    <option value="">Release Date</option>
                    <option value="">Price</option>
                    <option value="">Duration</option>
                    <option value="">Rating</option>
                </select>
                <select id="order" class="mx-2">
                    <option value="">Descending</option>
                    <option value="">Ascending</option>
                </select>
            </form>
        </div>
        <div class="tour-items-holder mx-2 my-2">
            <div class="tours-items-list">
                    <div class="d-flex mx-2">
                        <div class="thumbnail-tour">
                            <img src="https://q-xx.bstatic.com/xdata/images/xphoto/300x320/130104902.jpg?k=8c85cf8238572ef0bbca2d846a9070b2c9844ec7e16f5ca01089cd1fa45cd265&amp;o="
                            class="img-fluid" alt="">
                        </div>

                        <div class="tour-content d-flex clearfix">
                            <div class="tour-content-left">
                                <h5 class="tour-title"><a href="" class="text-decoration-none">Tour du Mont Blanc Express</a></h5>
                                <div class="tour-info-wrap">
                                    <div class="tour-info-duration">9 Days / 8 Nights </div>
                                    <div class="tour-info-availablity">Availability : Jan 18’ - Dec 19’  </div>
                                </div>
                                <div class="tour-description">
                                    <p>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, […]</p>
                                </div>
                            </div>
                            <div class="tour-content-right">
                                    <div class="tour-price">
                                        <span class="fw-bold">Price:</span>
                                        <span>600000</span>
                                    </div>
                                    <div class="rating">
                                        <p class="mx-1 text-dark"><i class="fa-regular fa-thumbs-up my-1 mx-1"></i>97%</p>
                                        <p class="review text-secondary mx-1">(30 review)</p>
                                    </div>
                                    <a href="" class="btn">View Detail</a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="tours-items-list my-3">
                <div class="d-flex mx-2">
                    <div class="thumbnail-tour">
                        <img src="https://q-xx.bstatic.com/xdata/images/xphoto/300x320/130104902.jpg?k=8c85cf8238572ef0bbca2d846a9070b2c9844ec7e16f5ca01089cd1fa45cd265&amp;o="
                        class="img-fluid" alt="">
                    </div>

                    <div class="tour-content d-flex clearfix">
                        <div class="tour-content-left">
                            <h5 class="tour-title"><a href="" class="text-decoration-none">Tour du Mont Blanc Express</a></h5>
                            <div class="tour-info-wrap">
                                <div class="tour-info-duration">9 Days / 8 Nights </div>
                                <div class="tour-info-availablity">Availability : Jan 18’ - Dec 19’  </div>
                            </div>
                            <div class="tour-description">
                                <p>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, […]</p>
                            </div>
                        </div>
                        <div class="tour-content-right">
                                <div class="tour-price">
                                    <span class="fw-bold">Price:</span>
                                    <span>600000</span>
                                </div>
                                <div class="rating">
                                    <p class="mx-1 text-dark"><i class="fa-regular fa-thumbs-up my-1 mx-1"></i>97%</p>
                                    <p class="review text-secondary mx-1">(30 review)</p>
                                </div>
                                <a href="" class="btn">View Detail</a>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>