<section class="background-profile">
  <div class="profile_header">
    <app-fullinfo></app-fullinfo>
  </div>

  <div class="friends_container">
    <div class="friends_header d-flex justify-content-between align-items-center">
      <h3 class="friend_title">Friend</h3>

      <form action="" method="get" class="position-relative d-flex justify-content-between align-items-center">
        <input type="text" name="" id="" class="form-control search_friend shadow-none border"
          placeholder="Search by name...">
        <button class="bg-transparent border-0 position-absolute left-0 submit_search"><i
            class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>

    <div class="friends d-flex flex-wrap justify-content-between">
      <a class="friend border d-flex align-items-center text-decoration-none">
        <img
          src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t39.30808-1/329951786_3373174012918482_832992163835157292_n.jpg?stp=cp0_dst-jpg_p80x80&_nc_cat=102&ccb=1-7&_nc_sid=2fc63d&_nc_ohc=XA6ffET6duYAX_-17Fa&_nc_oc=AQlvj4wU-Z8KHRobrO7XgYW4Q4aFlGKM6dx6qI3c8QWJyjon8IBxiKzcinlAo387zLI&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfDF-ZZAwNS_99lt7Xf7Fa70q-vzqmX_kOI1frxeZxOg7A&oe=64804FBE"
          alt="">

        <div class="friend-content">
          <h4 class="friend_name">Hồ Quang Đạt</h4>
          <p class="friend_amount">66 bạn chung</p>
        </div>
      </a>

      <a class="friend border d-flex align-items-center text-decoration-none">
        <img
          src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t39.30808-1/329951786_3373174012918482_832992163835157292_n.jpg?stp=cp0_dst-jpg_p80x80&_nc_cat=102&ccb=1-7&_nc_sid=2fc63d&_nc_ohc=XA6ffET6duYAX_-17Fa&_nc_oc=AQlvj4wU-Z8KHRobrO7XgYW4Q4aFlGKM6dx6qI3c8QWJyjon8IBxiKzcinlAo387zLI&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfDF-ZZAwNS_99lt7Xf7Fa70q-vzqmX_kOI1frxeZxOg7A&oe=64804FBE"
          alt="">

        <div class="friend-content">
          <h4 class="friend_name">Hồ Quang Đạt</h4>
          <p class="friend_amount">66 bạn chung</p>
        </div>
      </a>

      <a class="friend border d-flex align-items-center text-decoration-none">
        <img
          src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t39.30808-1/329951786_3373174012918482_832992163835157292_n.jpg?stp=cp0_dst-jpg_p80x80&_nc_cat=102&ccb=1-7&_nc_sid=2fc63d&_nc_ohc=XA6ffET6duYAX_-17Fa&_nc_oc=AQlvj4wU-Z8KHRobrO7XgYW4Q4aFlGKM6dx6qI3c8QWJyjon8IBxiKzcinlAo387zLI&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfDF-ZZAwNS_99lt7Xf7Fa70q-vzqmX_kOI1frxeZxOg7A&oe=64804FBE"
          alt="">

        <div class="friend-content">
          <h4 class="friend_name">Hồ Quang Đạt</h4>
          <p class="friend_amount">66 bạn chung</p>
        </div>
      </a>

      <a class="friend border d-flex align-items-center text-decoration-none">
        <img
          src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t39.30808-1/329951786_3373174012918482_832992163835157292_n.jpg?stp=cp0_dst-jpg_p80x80&_nc_cat=102&ccb=1-7&_nc_sid=2fc63d&_nc_ohc=XA6ffET6duYAX_-17Fa&_nc_oc=AQlvj4wU-Z8KHRobrO7XgYW4Q4aFlGKM6dx6qI3c8QWJyjon8IBxiKzcinlAo387zLI&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfDF-ZZAwNS_99lt7Xf7Fa70q-vzqmX_kOI1frxeZxOg7A&oe=64804FBE"
          alt="">

        <div class="friend-content">
          <h4 class="friend_name">Hồ Quang Đạt</h4>
          <p class="friend_amount">66 bạn chung</p>
        </div>
      </a>

      <a class="friend border d-flex align-items-center text-decoration-none">
        <img
          src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t39.30808-1/329951786_3373174012918482_832992163835157292_n.jpg?stp=cp0_dst-jpg_p80x80&_nc_cat=102&ccb=1-7&_nc_sid=2fc63d&_nc_ohc=XA6ffET6duYAX_-17Fa&_nc_oc=AQlvj4wU-Z8KHRobrO7XgYW4Q4aFlGKM6dx6qI3c8QWJyjon8IBxiKzcinlAo387zLI&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfDF-ZZAwNS_99lt7Xf7Fa70q-vzqmX_kOI1frxeZxOg7A&oe=64804FBE"
          alt="">

        <div class="friend-content">
          <h4 class="friend_name">Hồ Quang Đạt</h4>
          <p class="friend_amount">66 bạn chung</p>
        </div>
      </a>
    </div>
  </div>
</section>
